<h2>Please  register Here </h2>
<p>
  <% if @user.errors.any? %>
  		<%=@user.errors.full_messages %>
  	<% end %> 
<%=form_for @user do |f| %>

 <%=f.label :username %>
 <%=f.text_field :username %>
 

 <%=f.label :password %>
 <%=f.password_field :password %>

<%=f.label :twitter_handle %>
<%=f.text_field :twitter_handle %>
 <br/>
<%=f.submit "sign in" %>

<% end %>

