<h3>CONTACT</h3>

For commissions, collaborations, advertising opportunities on the site, or just to get in touch.


<p><%=current_time %>

<%form_tag   %>

<hr>
<%=text_field_tag  "post", "Name" %></br>
<%=text_field_tag  "post", "Email" %></br>
<%=text_field_tag  "post", "Website" %></br>

 

<%=submit_tag "submit" %> 