
<h5><i><%=link_to @post.title, @post.url %> </h5></i> </br>

<p>
	

<h4> comments <%=@post.comments.size %></h4>
<p>
<ul>
	<%@post.comments.each do |comment| %>

		<li>
			   
			   posted by <i><%=link_to comment.post.user.username,  user_path %> </br></i>
			   <%=comment.content%> 
		</li>


 <% end %>

 </ul>

 <br/>


	

 <h4> Comment </h4>
<%=form_for [@post, @comment] do |c| %>
<%=c.text_area :content, :size => "5x2" %></br>
<%=c.submit "LEAVE  COMMENT" %>

<% end %>
	
